    <!-- App Download Widget -->
    <aside class="app-download-widget">
        <div class="container">
            <div class="widget-content">
                <h3>Download Our App</h3>
                <a href="https://www.appcreator24.com/app3965463-vy1ohn" class="btn btn-download" target="_blank" rel="noopener">Download App</a>
            </div>
        </div>
    </aside>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="container">
            <p class="copyright">Copyright <%= new Date().getFullYear() %> &mdash; StarHela. All rights reserved.</p>
        </div>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>
